.servicios-card-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.card-servicios-1, .card-servicios-2, .card-servicios-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.card-servicios-2 {
    flex-direction: row-reverse;
    text-align: right;
}

.img-card-servicios {
    width: 180px;
    margin: auto;
}