.main-container {
  display: flex;
  flex-direction: row;
}

.img-servicios-container {
  width: 40%;
  height: 500px;
  margin-top: 130px;
  overflow: hidden;
}

.img-servicios-responsive {
  display: none;
}

.servicios-card-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 500px;
  margin-top: 150px;
  padding: 10px;
}

.card-servicios-1,
.card-servicios-2,
.card-servicios-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  margin: 5px 0 15px 0;
}

.img-card-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 30%;
}

.img-card-servicios {
  width: 150px;
}

.card-servicios-text {
  width: 70%;
  height: 100%;
  padding-right: 45px;
  overflow: auto;
}

.card-servicios-text p {
  font-size: 14px !important;
}

/* Estilos para teléfonos móviles */
@media only screen and (max-width: 600px) {
  .main-container {
    flex-direction: column-reverse;
  }

  .servicios-card-container {
    width: 100%;
  }

  .img-servicios-container {
    width: 100%;
  }

  .img-servicios {
    display: block;
  }

  .card-servicios-1,
  .card-servicios-2,
  .card-servicios-3 {
    margin: 5px 0 50px 0;
  }

  .img-card-servicios {
    width: 100px;
  }
}

/* Estilos para tabletas */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .main-container {
    flex-direction: column-reverse;
  }

  .img-servicios-container {
    width: 100%;
  }

  .img-servicios-responsive {
    display: block;
  }

  .img-servicios {
    display: none;
  }

  .servicios-card-container {
    width: 100%;
  }

  .card-servicios-1,
  .card-servicios-2,
  .card-servicios-3 {
    margin: 5px 0 30px 0;
  }
  .img-card-servicios {
    width: 100px;
  }
  .img-card-servicios {
    width: 125px;
  }
}

/* Estilos para computadoras portátiles y pantallas medianas */
@media only screen and (min-width: 901px) and (max-width: 1200px) {
}

/* Estilos para computadoras de escritorio y pantallas grandes */
@media only screen and (min-width: 1201px) {
}
