.main-sobremi {
  display: flex;
  flex-direction: column;
}

.sobremi-container {
  display: flex;
  flex-direction: row;
  margin-top: 130px;
}

.sobremi-txt-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 80vh;
  padding: 10px;
}

.sobremi-text {
  display: flex;
  flex-direction: row;
  height: 70%;
}

.sobremi-imgtxt-container {
  width: 20%;
  overflow: hidden;
}

.sobremi-imgtxt-container img {
  max-width: 100%;
  margin-top: 25%;
  height: auto;
}

.txt-presentacion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
}

.sobremi-txt-container p {
  text-align: center;
  overflow: auto;
  text-align: left;
}

.sobremi-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 20%;
}

.sobremi-card-container li {
  list-style: none;
  background-image: url("../../imagnes/boton menu.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 80px;
}

.sobremi-card-container li h2 {
  display: flex;
  color: rgb(255, 102, 0);
  text-align: center;
  justify-content: center;
  margin-top: 33px;
  cursor: pointer;
}

.sobremi-saludo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10%;
}

.sobremi-saludo-container p {
  color: rgb(255, 102, 0);
}

.sobremi-img-container {
  width: 40%;
  height: 80vh;
  overflow: hidden;
}

.sobremi-img-container img {
  width: 100%;
}

.modal-container {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}

/* .modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9999;
  padding: 20px;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
} */

.card-sobremi-1,
.card-sobremi-3,
.card-sobremi-2 {
  display: flex;
  width: 90%;
  height: 90%;  
  border: 3px solid white;
  background-color: rgb(255, 102, 0);
}

.card-quien-soy-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: white;
}

.card-quien-soy-txt p {
  font-size: 14px !important;
}

.modal-open {
  pointer-events: none;
}

/* Estilos para teléfonos móviles */
@media only screen and (max-width: 600px) {
  .sobremi-container {
    flex-direction: column;
  }

  .sobremi-img-container {
    width: 100%;
    height: 100%;
    margin-top: 100px;
  }

  .sobremi-txt-container {
    width: 100%;
  }

  .sobremi-presentacion-container {
    flex-direction: column;
  }
  .sobremi-cv-container {
    flex-direction: column;
  }
  .img-container {
    width: 100%;
    text-align: center;
  }

  .img-container img {
    width: 300px;
  }

  .card-container {
    width: 100%;
  }

  .h2-2 {
    height: 100px !important;
  }
  .h2-2 h2 {
    margin-top: 35px !important;
  }
}

/* Estilos para tabletas */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .sobremi-container {
    flex-direction: column;
  }

  .sobremi-img-container {
    width: 100%;
  }

  .sobremi-txt-container {
    width: 100%;
    height: 100%;
  }
  .sobremi-presentacion-container {
    flex-direction: column;
  }

  .sobremi-img-container {
    margin-top: 100px;
  }
  .img-container {
    width: 100%;
    text-align: center;
  }

  .card-container {
    width: 100%;
  }
}

/* Estilos para computadoras portátiles y pantallas medianas */
@media only screen and (min-width: 901px) and (max-width: 1200px) {
}

/* Estilos para computadoras de escritorio y pantallas grandes */
@media only screen and (min-width: 1201px) {
}
