.quiensoy-container {
  display: flex;
  flex-direction: row-reverse;
}

.quiensoy-img-container {
  width: 40%;
  height: 500px;
  margin-top: 150px;
  overflow: hidden;
}

.quiensoy-txt-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 500px;
  margin-top: 150px;
  padding: 10px;
}

.quiensoy-text {
  display: flex;
  flex-direction: row;
  height: 70%;
}

.txt-presentacion {
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
}

.quiensoy-txt-container p {
  text-align: center;   
  overflow: auto;
}

.quiensoy-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 20%;
}

.quiensoy-card-container li {
  list-style: none;
  background-image: url("../../imagnes/boton-menu.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 33%;
  height: 60px;
  line-height: 65px;
}

.quiensoy-card-container li h2 {
  color: rgb(255, 102, 0);
  text-align: center;
}

.quiensoy-saludo-container {
  display: flex;
  height: 10%;
}

.quiensoy-saludo-container p {
  color: rgb(255, 102, 0);
}

.quiensoy-cv-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
}

.card-quiensoy-1,
.card-quiensoy-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 10px;
  height: 150px;
  margin: 40px 0 40px 0;
}

.card-quiensoy-2,
.card-quiensoy-4 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-align: right;
  gap: 10px;
  margin: 10px;
  height: 150px;
  margin: 40px 0 40px 0;
}

.card-quien-soy-txt {
  height: 100%;
  overflow: auto;
}
.img-card-quiensoy {
  width: 100px;
}

/* Estilos para teléfonos móviles */
@media only screen and (max-width: 600px) {
  .quiensoy-container {
    flex-direction: column;
  }

  .quiensoy-img-container {
    width: 100%;
  }

  .quiensoy-txt-container {
    width: 100%;
  }

  .quiensoy-presentacion-container {
    flex-direction: column;
  }
  .quiensoy-cv-container {
    flex-direction: column;
  }
  .img-container {
    width: 100%;
    text-align: center;
  }

  .img-container img {
    width: 300px;
  }

  .card-container {
    width: 100%;
  }
}

/* Estilos para tabletas */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .quiensoy-container {
    flex-direction: column;
  }

  .quiensoy-img-container {
    width: 100%;
  }

  .quiensoy-txt-container {
    width: 100%;
  }
  .quiensoy-presentacion-container {
    flex-direction: column;
  }
  .quiensoy-cv-container {
    flex-direction: column;
  }
  .img-container {
    width: 100%;
    text-align: center;
  }

  .card-container {
    width: 100%;
  }
}

/* Estilos para computadoras portátiles y pantallas medianas */
@media only screen and (min-width: 901px) and (max-width: 1200px) {
}

/* Estilos para computadoras de escritorio y pantallas grandes */
@media only screen and (min-width: 1201px) {
}
