footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 70px;
    border: 1px solid black;
    margin-top: 150px;
    bottom: 0;
  }
  


footer li {
    list-style: none;
}

footer div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
